body {
  background-color: #111111; 
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
    text-align: center;
    width: 90%;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: italic;
    font-size: 1.2em; 
    color: white;
}

.voice2 {
    color: yellow;
    font-family: "brenner regular";
    font-size: 1.2em;
}

.voice3 {
    color: red;
    text-transform: uppercase; 
    font-size: 2em;
    font-weight: bold;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
	font-family: "brenner mono light";
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 200;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 200;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 200;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner mono light";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner mono light";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner mono light";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner mono light";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "brenner mono light";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "brenner mono light";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	font-family: "brenner mono light";
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	background-color: red;
}

.sound2 {
    background-color: grey;
}

.sound3 {
    background-color: red;
}

.sound4 {
    background-color: grey;
}

iframe {
	transition: 1s;
    margin-left: 360px;
    margin-top: 200px;
}
/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1, .sound3 iframe {
	animation: bounce 1s linear;
}

@keyframes bounce {
    20%,50%,80%, to
    {
        transform: translateY(0);
    }
    40%{
        transform: translateY(-110px);
    }
    70%{
        transform: translateY(-45px);
    }
    90%{
        transform: translateY(-10px);
    }
}

