body {
    background-color: #111111;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
    text-align: center;
    width: 99%;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .2s;
    opacity: 0;
}

.voice1::before {
    content: "Computer: ";
    font-style: "brenner mono";
    color: lightskyblue;
    font-weight: bold;
}

.voice1 {
    font-family: "brenner mono";
    font-style: italic;
    font-size: 1.4em;
    color: white;
}

.voice2::before {
    content: "Officer KD6-3.7.: ";
    font-family: "brenner sans";
    color: lightyellow;
    font-weight: bold;
}

.voice2 {
    font-family: "brenner sans";
    font-style: italic;
    font-size: 1.4em;
    color: white;
}

.voice3::before {
    font-family: "brenner condensed";
    content: "An other officer: ";
    color: #F25944;
    font-weight: bold;
}

.voice3 {
    font-family: "brenner condensed";
    font-size: 1.2em;
    font-variant: small-caps;
    color: white;
}

.voice4::before {
    content: "Random person: ";
    font-family: "brenner sans";
    color: green;
    font-weight: bold;
}

.voice4 {
    font-family: "brenner sans";
    font-style: italic;
    font-size: 1.4em;
    color: white;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
    opacity: 0;
    font-family: "brenner mono light";
}

.p0.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 200;
}

.p0.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
    margin-right: -.25em;
    font-weight: 200;
}

.p0.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    margin-right: -.25em;
    font-weight: 200;
}

.p0.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .7s;
    margin-right: -.25em;
    font-weight: 200;
}

.p0.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
    margin-right: -.25em;
    font-family: "brenner mono light";
}

.p0.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.4s;
    margin-right: -.25em;
    font-family: "brenner mono light";
}

.p0.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 1.7s;
    margin-right: -.25em;
    font-family: "brenner mono light";
}

.p0.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2s;
    font-family: "brenner mono light";
}

.p0.on span:nth-of-type(9) {
    opacity: 1;
    transition: 0s 3s;
    font-family: "brenner mono light";
}

.p0.on span:nth-of-type(10) {
    opacity: 1;
    transition: 0s 3.2s;
    font-family: "brenner mono light";
}

.p0.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 3.7s;
    font-family: "brenner mono light";
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */

.sound2 {
    background-color: grey;
}

.sound3 {
    background-color: #111111;
}

iframe {
    transition: 1s;
    margin-left: 646px;
    margin-top: 300px;
}

.sound1 iframe {
    animation: bounce 1s linear;
}

@keyframes bounce {

    20%,
    50%,
    80%,
    to {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-110px);
    }

    65% {
        transform: translateY(-45px);
    }

    85% {
        transform: translateY(-10px);
    }
}

.sound1 {
    animation: colorChange 1s linear;
}

@keyframes colorChange {
    10% {
        background-color: red;
    }

    25% {
        background-color: darkred;
    }

    40% {
        background-color: red;
    }

    55% {
        background-color: darkred;
    }

    70% {
        background-color: red;
    }

    90% {
        background-color: red;
    }
}

.geluid1 {
    color: white;
    position: absolute;
    font-size: 1.2em;
    left: 46.5%;
    bottom: 20%;
    opacity: 0;
    }

.sound1 .geluid1{
opacity: 1;
}

.sound2 .geluid1{
opacity: 0;
}

.sound2 iframe {
    animation: skew 1s linear;
}

@keyframes skew {
    20% {
        transform: skewY(20deg);
    }

    40% {
        transform: skewY(-10deg);
    }
}

.sound2 {
    animation: colorChange2 1s linear;
}

@keyframes colorChange2 {
    10% {
        background-color: dimgray;
    }

    45% {
        background-color: lightgray;
    }

    90% {
        background-color: dimgray;
    }
}

.geluid2 {
    color: white;
    position: absolute;
    font-size: 1.2em;
    left: 46.5%;
    bottom: 20%;
    opacity: 0;
}

.sound2 .geluid2{
opacity: 1;
    
}
.sound3 .geluid2{
opacity: 0;
}

.sound4 iframe {
    animation: shake 0.5s linear;
}

@keyframes shake {

    20%,
    50%,
    80%,
    to {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-110px);
    }

    55% {
        transform: translateX(-55px);
    }

    70% {
        transform: translateX(-75px);
    }

    90% {
        transform: translateX(-10px);
    }
}

.geluid3 {
    opacity: 0;
    position: absolute;
    left: 46.5%;
    bottom: 20%;
    color: white;
    font-size: 1.2em;
    }

.sound4 .geluid3{
    opacity: 1;
}

.sound5 .geluid3{
    opacity: 0;
}

.sound6 iframe {
    animation: shake-2 0.5s linear;
}

@keyframes shake-2 {

    20%,
    50%,
    80%,
    to {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-110px);
    }

    55% {
        transform: translateX(-55px);
    }

    70% {
        transform: translateX(-75px);
    }

    90% {
        transform: translateX(-10px);
    }
}

.sound8 iframe {
    animation: shake-3 0.5s linear;
}

.geluid4 {
    opacity: 0;
    position: absolute;
    left: 46.5%;
    bottom: 20%;
    color: white;
    font-size: 1.2em;
}

.sound6 .geluid4{
    opacity: 1;
}

.sound7 .geluid4{
    opacity: 0;
}

@keyframes shake-3 {

    20%,
    50%,
    80%,
    to {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-110px);
    }

    55% {
        transform: translateX(-55px);
    }

    70% {
        transform: translateX(-75px);
    }

    90% {
        transform: translateX(-10px);
    }
}

.sound9 iframe {
    animation: grow 42s linear;
}

.geluid5 {
    opacity: 0;
    position: absolute;
    left: 46.5%;
    bottom: 20%;
    color: white;
    font-size: 1.2em;
    }

.sound8 .geluid5{
    opacity: 1;
    }

.sound9 .geluid5{
    opacity: 0;
    }

@keyframes grow {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

.geluid6 {
    opacity: 0;
    position: absolute;
    left: 46.5%;
    bottom: 20%;
    color: white;
    font-size: 1.2em;
    }

.sound9 .geluid6{
    opacity: 1;
    }

.sound10 .geluid6{
    opacity: 0;
    color: #111111;
    }

.sound9 iframe {
    animation: grow 42s linear;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

.sound9 .rondje {
    opacity: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #265431;
    position: absolute;
    left: 49%;
    top: 50%;
    animation: rond 42s linear;
    border: #A6C5AD;
}

@keyframes rond {
    0% {
        opacity: 0;
        transform: scale(30);
    }

    20% {
        opacity: 0.25;
        transform: scale(40);
        background-color: #3B7B49;
    }

}

@keyframes rond {
    0% {
        opacity: 0;
        transform: scale(30);
        background-color: #7BFFB0;
    }

    20% {
        opacity: 0.25;
        transform: scale(40);
        background-color: #7BFFB0;
    }

    40% {
        opacity: 0.5;
        transform: scale(50);
        background-color: #FFF388;
    }

    50% {
        opacity: 1;
        transform: scale(60);
        background-color: #FFE713;
    }

    60% {
        opacity: 2;
        transform: scale(70);
        background-color: #FFF388;
    }

    70% {
        opacity: 3;
        transform: scale(90);
        background-color: darkorange;
    }

    80% {
        opacity: 4;
        transform: scale(110);
        background-color: #F2270B;
    }

    100% {
        opacity: 5;
        transform: scale(130);
        background-color: darkred;
    }
}

.sound10 iframe {
    animation: high 45s linear;
}

@keyframes high {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.8);
    }

    85% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1.15);
    }
}

.sound10 .cirkel {
    opacity: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #265431;
    position: absolute;
    left: 49%;
    top: 50%;
    animation: cirkel 45s linear;
    border: #A6C5AD;
}

@keyframes cirkel {
    0% {
        opacity: 0;
        transform: scale(30);
    }

    20% {
        opacity: 0;
        transform: scale(40);
    }

}

@keyframes cirkel {
    0% {
        opacity: 0;
        transform: scale(20);
    }

    10% {
        opacity: 0.25;
        transform: scale(50);
        background-color: dimgray;
    }
    
    20% {
        opacity: 0;
        transform: scale(20);
    }
    
    30% {
        opacity: 0.5;
        transform: scale(80);
        background-color: dimgray;
    }
    
    40% {
        opacity: 0;
        transform: scale(20);
    }
    
    50% {
        opacity: 1;
        transform: scale(120);
        background-color: dimgray;
    }
    
    70% {
        opacity: 0;
        transform: scale(20);
    }
   

    100% {
        opacity: 1;
        transform: scale(140);
        background-color: #111111;
    }
}

.geluid7 {
    opacity: 0;
    position: absolute;
    left: 46.5%;
    bottom: 20%;
    color: white;
    font-size: 1.2em;
    }

.sound10 .geluid7{
    opacity: 1;
    }

.sound11 .geluid7{
    opacity: 0;
    }


